
# Windows
Thumbs.db
~*

# Visual Studio
*.obj
*.wixobj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.suo
*.tlh
*.bak
*.cache
*.ilk
*.sbr
*.VC.db
.vs/
obj/
Lab/
bin/
packages/
TestResults/
[Dd]ebug/
[Rr]elease/
ipch/
_ReSharper*/
*.[Rr]e[Ss]harper
NDependOut/*

*.nupkg